{% extends "_layout/base.twig" %}

{% block body %}
    <div class="container">
        {{ form.beginForm({class: 'form-signin'})|raw }}
            <h2 class="form-signin-heading">{{ application.getTitle() }}</h2>
            {% if error %}
                <div class="alert alert-warning">Неудача при авторизации</div>
            {% endif %}
            {% for field in form.getFields() %}
            {{ field.Render({class: 'form-control'})|raw }}
            {% endfor %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        {{ form.endForm()|raw }}
    </div> <!-- /container -->
{% endblock %}