{% extends "_layout/base.twig" %}

{% block content %}
    <h1>Добро пожаловать</h1>
    <ul>
        {% if not user.isAuthorized %}
        <li><a href="/user/">Авторизуйся</a></li>
        {% endif %}
        <li><a href="/news/">Новости</a></li>
        <li><a target="_blank" href="/service/">Сервисный контроллер</a></li>
    </ul>
{% endblock %}