<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ application.getTitle() }}</title>
    {{ application.getHeadAll()|raw }}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% block body %}
    {% block header %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">POINT</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/catalog/">Каталог</a></li>
                    <li><a href="/user/members/">Пользователи</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/user/logout/">Выход</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                {% block sidebar %}
                <ul class="nav nav-sidebar">
                    <li><a href="/user/members/">Список пользователей</a></li>
                    <li><a href="/user/groups/">Группы пользователей</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="/options/">Опции</a></li>
                </ul>
                {% endblock %}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Library</a></li>
                    <li class="active">Data</li>
                </ol>

                {% if application.getTitle() %}
                    <div class="page-header">
                        <h1>{{ application.getTitle() }} <small>...</small></h1>
                    </div>
                {% endif %}

                {{ buttons.Render() | raw }}

                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>