{% extends "_layout/base.twig" %}

{% macro nestedBullits(count = 1) %}
    {% for i in range(1, count) %}
        •&nbsp;
    {% endfor %}
{% endmacro %}

{% import _self as section %}

{% block content %}
    <h1>{{ application.getTitle() }}</h1>

    <ul style="list-style-type: none">
    {% for product in list %}
        <li>{{ section.nestedBullits(product.level) }} id <strong>{{ product.id }}</strong>, level <strong>{{ product.level }}</strong>, left <strong>{{ product.leftKey }}</strong>, right <strong>{{ product.rightKey }}</strong> | <em>{{ product.code }}</em> <a href="?delete&id={{ product.id }}">[удалить]</a></li>
    {% endfor %}
    </ul>
{% endblock %}