{% extends "_layout/base.twig" %}


{% block content %}
    <h1>{{ application.getTitle() }}</h1>

    <h4>Левый ключ ВСЕГДА меньше правого;</h4>
    <ul>
        {% for product in list0 %}
            <li>id <strong>{{ product.id }}</strong></li>
        {% endfor %}
    </ul>

    <h4>Наименьший левый ключ ВСЕГДА равен 1; Наибольший правый ключ ВСЕГДА равен двойному числу узлов;</h4>
    <ul>
        {% for product in list_1 %}
            <li>cnt <strong>{{ product.cnt }}</strong>, min <strong>{{ product.min }}</strong>, max <strong>{{ product.max }}</strong></li>
        {% endfor %}
    </ul>

    {#<h4>Разница между правым и левым ключом ВСЕГДА нечетное число;</h4>#}
    {#<ul>#}
        {#{% for product in list_2 %}#}
            {#<li>id <strong>{{ product.id }}</strong></li>#}
        {#{% endfor %}#}
    {#</ul>#}

    {#<h4>Если уровень узла нечетное число то тогда левый ключ ВСЕГДА нечетное число, то же самое и для четных чисел;</h4>#}
    {#<ul>#}
        {#{% for product in list_3 %}#}
            {#<li>id <strong>{{ product.id }}</strong></li>#}
        {#{% endfor %}#}
    {#</ul>#}

    <h4>Ключи ВСЕГДА уникальны, вне зависимости от того правый он или левый;</h4>
    <ul>
    {% for product in list_2 %}
        <li>id <strong>{{ product.id }}</strong></li>
    {% endfor %}
    </ul>
{% endblock %}