<div>
    {% for page in this.getPagesStack(4) %}
    {% if page == this.getCurrentPage() %}
        <strong>{{ page }}</strong>
    {% else %}
        <a href="/news/?page={{ page }}">{{ page }}</a>
    {% endif %}
    &nbsp;|&nbsp;
    {% endfor %}
    Total <strong>{{ this.getTotalCount() }}</strong> elements in <strong>{{ this.getPagesCount() }}</strong> pages.
</div>