{% extends "_layout/base.twig" %}

{% block content %}
{% if errorText %}
    <div class="alert alert-danger">{{ errorText }}</div>
{% endif %}
<form action="{{ uri.getRequestUri() }}" method="post" role="form">
    <input type="hidden" name="csrf-token" value="{{ CSRFToken }}">

    <div class="form-group">
        <label for="form_el_code">Символьный код</label>
        <input type="text" {% if not new %} readonly disabled {% endif %} class="form-control" name="code" id="form_el_code" placeholder="Символьный код" value="{{ this.code }}">
    </div>

    <div class="form-group">
        <label for="form_el_description">Описание опции</label>
        <input type="text" class="form-control" name="description" id="form_el_description" placeholder="Описание опции" value="{{ this.description }}">
    </div>

    <div class="form-group">
        <label for="form_el_value">Значение</label>
        <input type="text" class="form-control" name="value" id="form_el_value" placeholder="Значение" value="{{ this.value }}">
    </div>

    <button type="submit" class="btn btn-default">Сохранить</button>
</form>
{% endblock %}