{% extends "_layout/base.twig" %}

{% block sidebar %}
    <div class="css-treeview">
        <ul>
            {% for section in tree %}
            <li><input type="checkbox" id="section{{ section.id }}"><label for="section{{ section.id }}">{{ section.name }}</label>
                <ul>
                    <li><a href="./">Элементы</a></li>
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    {{ tableGrid|raw }}
{% endblock %}