<!DOCTYPE html>
<html>
<head>
    <title>{{ application.getTitle() }} &mdash; {{ application.getAppName() }} v.{{ application.getAppVersion() }}</title>
    {{ application.getHeadAll()|raw }}
</head>
<body>
{% if user.isAuthorized() %}
    <small>Welcome, {{ user.getCurrent().firstName }}</small>
{% else %}
    <small>Guest</small>
{% endif %}
{% block content %} {% endblock %}
</body>
</html>