{% extends "_layout/base.twig" %}

{% block body %}
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="inner cover">
                <h1 class="cover-heading">POINT | 404</h1>
                <p class="lead">Такой страницы не существует!<br>Если вы уверены в правильности ссылки, то сообщите об этом администратору!</p>
                <p class="lead">
                    {% if user.isAuthorized() %}
                    <a href="/" class="btn btn-lg btn-default">На главную</a>
                    {% else %}
                    <a href="/user/" class="btn btn-lg btn-default">Авторизоваться</a>
                    {% endif %}
                </p>
            </div>

        </div>

    </div>

</div>
{% endblock %}